@import url('https://fonts.googleapis.com/css?family=Raleway');

body,
html {
	font-family: 'Raleway', sans-serif;
}

.login {
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.kotak {
	width: 300px;
}

.kotak p a {
	font-size: .8em;
}

.kotak p a:hover {
	color: black;
}
