.navbar .container .navbar-brand {
	font-size: 2em;
	margin-right: 5%;
}

.jumbotron {
	background: url('../img/bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 4%;
	text-align: center;
	margin-bottom: 0;
	color: #fff;
	text-shadow: black 2px 2px;
	height: 70vh;
	display: grid;
	justify-content: center;
	align-content: center;
}

.content {
	width: 100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 6%;
}

.content h3 {
	margin-bottom: 4%;
}

.content a {
	color: black !important;
	text-decoration: none;
}

.list-group-item a {
	display: block;
}

.produk {
	width: 20%;
	height: 400px;
	background: #3498db;
	margin: 0 2% 0 2%;
	display: grid;
	align-content: center;
}

.produk a {
	font-size: 3em;
	color: white !important;
}

.produk:hover {
	width: 22%;
	height: 410px;
	transition: all .5s;
}

.footer {
	width: 100%;
	height: auto;
	text-align: center;
	background: #2c3e50;
	color: #fff;
	padding: 1%;
}

.img-round {
	border-radius: 50%;
}

small.error p {
    color: red;
}

.table-pemesanan thead th,
.table-pemesanan tbody td{
	vertical-align: middle;
}

.card-pesanan {
    padding: 0 20px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

img.card-img-left {
    max-width: 300px;
}

.card-pesanan .left {
    padding: 1em;
}

.card-pesanan .center {
    max-width: 510px;
    width: 100%;
}

.right h5 {
    font-size: 20px;
    font-weight: bold;
}

.right div {
    margin-bottom: 20px;
}


@media screen and (max-width:1199px){
	.card-pesanan .center {
		max-width:370px;
	}
}

@media screen and (max-width:991px){
	.card-pesanan .left {
		margin:auto;
		padding-top:20px;
	}
}

@media screen and (max-width:390px){
	.card-pesanan img {
		max-width:100%;
	}
}