body {
	background: #fafafa;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 99;
	width: 100%;
	color: white;
}

.navbar-header {
	font-size: 1.8em;
	width: 250px;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
	margin-left: -65%;
}

.navbar-text {
	color: white !important;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

.text-custom {
	text-align: center;
	margin-right: 3%;
}

.text-custom a {
	color: #fff !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.title {
	font-size: 1.5em;
	margin-left: 10px;
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
	perspective: 1500px;
	margin-top: 6%;
	float: left;
}


#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #ccc;
	color: #000;
	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
	transform-origin: bottom left;
}

#sidebar.active {
	margin-left: -250px;
	transform: rotateY(100deg);
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #2d3436;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid rgb(238, 237, 237);
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
	color: #fff;
	background: #2c3e50;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #2c3e50;
}


a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #2c3e50;
}

ul li ul li a {
	color: #fff;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

#content p{
	color: #000;
}

#sidebarCollapse {
	width: 40px;
	height: 40px;
	background: #f5f5f5;
	cursor: pointer;
}

#sidebarCollapse span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
	transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
	opacity: 0;
}

#sidebarCollapse span:last-of-type {
	transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
	transform: none;
	opacity: 1;
	margin: 5px auto;
}

/* footer */
.footer {
	font-size: 0.8em;
	padding: 10px;
	color: #000;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
		transform: rotateY(90deg);
	}

	#sidebar.active {
		margin-left: 0;
		transform: none;
	}

	#sidebarCollapse span:first-of-type,
	#sidebarCollapse span:nth-of-type(2),
	#sidebarCollapse span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}

	#sidebarCollapse.active span {
		margin: 0 auto;
	}

	#sidebarCollapse.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}

	#sidebarCollapse.active span:nth-of-type(2) {
		opacity: 0;
	}

	#sidebarCollapse.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}

}

.table-pemesanan thead th,
.table-pemesanan tbody td{
	vertical-align: middle;
}

small.error p {
	color: red!important;
    font-size: 12px;
}

#content {
	overflow-x: hidden;
}

.pemesanan-row {
	overflow-x: scroll;
}


.table-pemesanan td {
    font-size: 14px!important;
}

.table-pemesanan th {
    font-size: 15px;
}

.card-pesanan {
    padding: 0 20px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

img.card-img-left {
    max-width: 300px;
}

.card-pesanan .left {
    padding: 1em;
}

.card-pesanan .center {
    max-width: 510px;
    width: 100%;
}

.right h5 {
    font-size: 20px;
    font-weight: bold;
}

.right div {
    margin-bottom: 20px;
}



@media screen and (max-width:1199px){
	.card-pesanan .center {
		max-width:370px;
	}
}

@media screen and (max-width:991px){
	.card-pesanan .left {
		margin:auto;
		padding-top:20px;
	}
}

@media screen and (max-width:390px){
	.card-pesanan img {
		max-width:100%;
	}
}


li.has-child ul li a {
    background: transparent;
    color: #2c3e50;
}

.btn-notification {
    padding: 5px 15px;
    position: relative;
    right: 15px;
    background: #575757;
    border-radius: 12px;
    cursor: pointer;
}

.btn-notification:hover {
    background: #787878;
}

.content-notification {
    position: absolute;
    z-index: 10;
    background: white;
    top: 40px;
    left: -252px;
    width: 300px;
    border-radius: 21px;
    color: #5f5f5f;
    padding: 15px;
    box-shadow: 0px 0px 14px -4px rgba(20,20,20,1);
    display: none;
    overflow-y: scroll;
    max-height: 380px;
}

.content-notification ul {
    list-style: none;
    padding: 8px;
    margin-bottom: 30px;
    position: relative;
    font-size: 14px;
}

.label-pos {
    position: absolute;
    top: -7px;
}

.label-pos-inside {
    position: absolute;
    right: 0;
    top: -5px;
}